<!-- telemetry.html -->
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemetry Data</title>
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'telemetry_app/chart-processing.js' %}"></script>
    <script src="{% static 'telemetry_app/storage-handling.js' %}"></script>


</head>
<body>
<form method="get">
    <select name="raceID">
        {% for race_id in race_ids %}
            <option value="{{ race_id }}" {% if race_id == request.GET.raceID %}selected{% endif %}>{{ race_id }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Load telemetry data">
</form>


    <select id="car-selector">
  <option value="">Select a car</option>
  <!-- Option elements for car numbers will be added dynamically -->
</select>

<!-- Add these input fields to your HTML -->
<input id="lapTimeChartMax" type="number" value="650">
<input id="positionChartMax" type="number" value="35">
<input id="airTempChartMax" type="number" value="20">
<input id="trackTempChartMax" type="number" value="20">
<input id="classPositionChartMax" type="number" value="10">
<input id="timeChartMax" type="number" value="1500">


<div class="chart-container">
    <canvas id="lapTimeChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="positionChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="airTempChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="trackTempChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="classPositionChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="timeChart"></canvas>
</div>


<div id="lapTimeData" style="display:none;" data-lap-times="{{ lap_times|to_json }}"></div>
<div id="positionData" style="display:none;" data-position="{{ position|to_json }}"></div>
<div id="airTempData" style="display:none;" data-air-temp="{{ air_temp|to_json }}"></div>
<div id="trackTempData" style="display:none;" data-track-temp="{{ track_temp|to_json }}"></div>
<div id="classPositionData" style="display:none;" data-class-position="{{ class_position|to_json }}"></div>
<div id="timeData" style="display:none;" data-time="{{ time|to_json }}"></div>




    <script>
    window.onload = function () {
        const lapTimesJson = '{{ lap_times|escapejs }}';
        const lapTimes = JSON.parse(lapTimesJson) || {};

        const positionJson = '{{ position|escapejs }}';
        const position = JSON.parse(positionJson) || {};

        const airTempJson = '{{ air_temp|escapejs }}';
        const airTemp = JSON.parse(airTempJson) || {};

        const trackTempJson = '{{ track_temp|escapejs }}';
        const trackTemp = JSON.parse(trackTempJson) || {};

        const classPositionJson = '{{ class_position|escapejs }}';
        const classPosition = JSON.parse(classPositionJson) || {};

        const timeJson = '{{ time|escapejs }}';
        const time = JSON.parse(timeJson) || {};

        // Load the filter values from local storage, or use default values
        const lapTimeChartMax = parseInt(loadFilter('lapTimeChartMax')) || 135;
        const positionChartMax = parseInt(loadFilter('positionChartMax')) || 35;
        const airTempChartMax = parseInt(loadFilter('airTempChartMax')) || 19;
        const trackTempChartMax = parseInt(loadFilter('trackTempChartMax')) || 19;
        const classPositionChartMax = parseInt(loadFilter('classPositionChartMax')) || 10;
        const timeChartMax = parseInt(loadFilter('timeChartMax')) || 1500;

        // Create the charts with the loaded filter values
        chartJSProcessing(lapTimes, 'lapTimeChart', lapTimeChartMax, "Laptime Chart");
        chartJSProcessing(position, 'positionChart', positionChartMax, "Position Chart");
        chartJSProcessing(airTemp, 'airTempChart', airTempChartMax, "Airtemps from all cars");
        chartJSProcessing(trackTemp, 'trackTempChart', trackTempChartMax, "Tracktemps from all cars");
        chartJSProcessing(classPosition, 'classPositionChart', classPositionChartMax, "Class positions");
        chartJSProcessing(time, 'timeChart', timeChartMax, "Time from leader");

        // When a filter value changes, save the new value and recreate the chart
        document.getElementById('lapTimeChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('lapTimeChartMax', newMax);
            chartJSProcessing(lapTimes, 'lapTimeChart', newMax, "Laptime Chart");
        }

        document.getElementById('positionChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('positionChartMax', newMax);
            chartJSProcessing(position, 'positionChart', newMax, "Position Chart");
        }

        document.getElementById('airTempChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('airTempChartMax', newMax);
            chartJSProcessing(airTemp, 'airTempChart', newMax, "Airtemps from all cars");
        }

        document.getElementById('trackTempChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('trackTempChartMax', newMax);
            chartJSProcessing(trackTemp, 'trackTempChart', newMax, "Tracktemps from all cars");
        }

        document.getElementById('classPositionChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('classPositionChartMax', newMax);
            chartJSProcessing(classPosition, 'classPositionChart');
        }


        document.getElementById('classPositionChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('classPositionChartMax', newMax);
            chartJSProcessing(classPosition, 'classPositionChart', newMax, "Class positions");
        }

        document.getElementById('timeChartMax').onchange = function() {
            const newMax = parseInt(this.value);
            saveFilter('timeChartMax', newMax);
            chartJSProcessing(time, 'timeChart', newMax, "Time from leader");
        }

        // Continuously refresh the data
        // refreshData();
    }

    // Load a filter value from local storage
    function loadFilter(name) {
        return localStorage.getItem(name);
    }

    // Save a filter value to local storage
    function saveFilter(name, value) {
        localStorage.setItem(name, value);
    }

    function refreshData() {
        fetch(window.location.href)
            .then(response => response.text())
            .then(html => {
                const newDocument = new DOMParser().parseFromString(html, "text/html");

                const ids = ["lapTimeData", "positionData", "airTempData", "trackTempData", "classPositionData", "timeData"];
                for (let id of ids) {
                    const element = newDocument.getElementById(id);
                    if (element) {
                        document.getElementById(id).innerHTML = element.innerHTML;
                    }
                }

                setTimeout(refreshData, 15000);
            });
    }
</script>



</body>
</html>
