<!-- telemetry.html -->
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemetry Data</title>
    <script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
    <script src="{% static 'telemetry_app/chart-processing.js' %}"></script>

</head>
<body>
    <form id="raceIDForm" method="get">
        <label for="raceID">Race ID:</label>
        <input type="text" id="raceID" name="raceID" required>
        <button type="submit">Load Race</button>
    </form>

    <select id="car-selector">
  <option value="">Select a car</option>
  <!-- Option elements for car numbers will be added dynamically -->
</select>

<div class="chart-container">
    <canvas id="lapTimeChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="positionChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="airTempChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="trackTempChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="classPositionChart"></canvas>
</div>

<div class="chart-container">
    <canvas id="timeChart"></canvas>
</div>


<div id="lapTimeData" style="display:none;" data-lap-times="{{ lap_times|to_json }}"></div>
<div id="positionData" style="display:none;" data-position="{{ position|to_json }}"></div>
<div id="airTempData" style="display:none;" data-air-temp="{{ air_temp|to_json }}"></div>
<div id="trackTempData" style="display:none;" data-track-temp="{{ track_temp|to_json }}"></div>
<div id="classPositionData" style="display:none;" data-class-position="{{ class_position|to_json }}"></div>
<div id="timeData" style="display:none;" data-time="{{ time|to_json }}"></div>




    <script>
        window.onload = function () {
            console.log('{{ lap_times|escapejs }}');
            const lapTimesJson = '{{ lap_times|escapejs }}';
            console.log('Lap times JSON:', lapTimesJson);
            const lapTimes = JSON.parse(lapTimesJson) || {};
            console.log('Lap times:', lapTimes);

            console.log('{{ position|escapejs }}');
            const positionJson = '{{ position|escapejs }}';
            console.log('Position JSON:', positionJson);
            const position = JSON.parse(positionJson) || {};
            console.log('Position:', position);

            console.log('{{ air_temp|escapejs }}');
            const airTempJson = '{{ air_temp|escapejs }}';
            console.log('Air temp JSON:', airTempJson);
            const airTemp = JSON.parse(airTempJson) || {};
            console.log('Air temp:', airTemp);

            console.log('{{ track_temp|escapejs }}');
            const trackTempJson = '{{ track_temp|escapejs }}';
            console.log('Track temp JSON:', trackTempJson);
            const trackTemp = JSON.parse(trackTempJson) || {};
            console.log('Track temp:', trackTemp);

            console.log('{{ class_position|escapejs }}');
            const classPositionJson = '{{ class_position|escapejs }}';
            console.log('Class position JSON:', classPositionJson);
            const classPosition = JSON.parse(classPositionJson) || {};
            console.log('Class position:', classPosition);

            console.log('{{ time|escapejs }}');
            const timeJson = '{{ time|escapejs }}';
            console.log('Time JSON:', timeJson);
            const time = JSON.parse(timeJson) || {};
            console.log('Time:', time);



            chartJSProcessing(lapTimes, 'lapTimeChart', 150);
            chartJSProcessing(position, 'positionChart', 35);  // assuming 'positionChart' and 50
            chartJSProcessing(airTemp, 'airTempChart', 40);  // assuming 'airTempChart' and 40
            chartJSProcessing(trackTemp, 'trackTempChart', 60);  // assuming 'trackTempChart' and 60
            chartJSProcessing(classPosition, 'classPositionChart', 10);  // assuming 'classPositionChart' and 10
            chartJSProcessing(time, 'timeChart', 100);  // assuming 'timeChart' and 100


         }


    </script>
</body>
</html>
